{% extends "admin/base_site.html" %}
{% load i18n admin_static %}
{% load url from future %}
{% block nav-global %}{% endblock %}
{% block navbar %}{% endblock %}
{% block breadcrumbs %}{% endblock %}
{% block extrastyle %}
{% endblock %}

{% block content %}
<style type="text/css">
body{
    background: rgba(38, 43, 54, 1);
}
#content{
    background: rgba(38, 43, 54, 0.9);
    padding: 25px 35px;
    margin-top: 30%;
}
#main{
    width: 100%;
}
.navbar,
#recent-actions-module{
    display: none;
}

#breadcrumb{
    padding: 0;
    margin: 0;
}

#main{
    width: 400px;
    margin: auto;
}

#id_username,
#id_password{
    position: relative;
    vertical-align: top;
    display: -moz-inline-stack;
    display: inline-block;
    color: #626262;
    outline: none;
    height: 38px;
    border: none;
    width: 90%;
    margin: 0;
    padding: 0;
}

#id_username:focus,
#id_password:focus{
    border: none;
      box-shadow: 0 1px 1px rgba(0, 0, 0, 0) inset, 0 0 0px rgba(126, 239, 104, 0.6);
}


 h2{
    color: #259dab;
    text-align: center;
    margin: 0;
    font-weight: 500;
}

h3{
    font-family: "Open Sans", sans-serif;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    text-transform: none;
    font-weight: 200;
    font-size: 20px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: .7px;
}

.form-horizontal .controls{
     border: 1px solid #DDD;
    background: #fff;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 10px;
}

.form-horizontal .controls .fa{
    margin-top: 13px;
    margin-left: 10px;
    margin-right: 5px;
 }
.form-horizontal .form-actions{
    padding: 0;
}
.form-actions{
    padding: 0;
    margin-top: 10px;
    margin-bottom: 20px;
    background-color: transparent;
    border-top: none;
}
button.btn, input[type="submit"].btn{
    width: 100%;
    color: #ffffff;
    background-color: #208a96;
    border-color: rgba(0, 0, 0, 0);
    padding: 16px 12px 16px;
    text-transform: uppercase;
    font-size: 14px;
}

button.btn, input[type="submit"].btn:hover{
    background-color: #1b757f;
}
.form-horizontal .control-group{
    margin-bottom: 0px;
}
.control-group input[type=text]{
    height: auto;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input{
    padding: 0;
}

 .form-horizontal .help-inline{
    display: none;
}

.footer{
    position: absolute;
    width: 100%;
    bottom: 0;
    background: rgba(0, 0, 0, 0.41);
    color: #fff;
    border-top: 1px solid #666;
    padding: 6px 0;
}

.footer a{
    color: #fff;
}

.footer a:hover{
    color: #ddd;
}

</style>

<script type="text/javascript">
    $(document).ready(function(){
         $('.form-signin  input[type=text]').attr("placeholder", "Enter username");
         $('.form-signin  input[type=password]').attr("placeholder", "Enter password");
    });

    $.vegas('slideshow', {
          backgrounds:[
            { src:'{% static "admin/img/bg-login/ideas.jpg" %}', fade:10000 },
          ]
        })('overlay', {
          src:'{% static "admin/js/vegas/overlays/01.png" %}'
        });
</script>

<div id="content-main">
    <h2>SPLArch</h2>
    <h3> Thanks for spending some quality time with the SPLarch today.</h3>
    <p style="text-align: center"><a href="{% url 'admin:index' %}" class="btn">{% trans 'Log in again' %}</a></p>

    <script type="text/javascript">
    $(document).ready(function() {
      $('#id_username').attr('autocapitalize', 'off').focus();
    })
    </script>
</div>
{% endblock %}





