{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_modify bootstrapped_goodies_tags %}
{% load url from future %}
{% load admin_urls mptt_tags %}

{% block extrahead %}{{ block.super }}
{% url 'admin:jsi18n' as jsi18nurl %}
<script type="text/javascript" src="{{ jsi18nurl|default:"../../../jsi18n/" }}"></script>
{{ media }}
{% endblock %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}

{% block coltype %}{% if ordered_objects %}colMS{% else %}colM{% endif %}{% endblock %}

{% block bodyclass %}{{ opts.app_label }}-{{ opts.object_name.lower }} change-form{% endblock %}

{% if not is_popup %}
{% block breadcrumbs %}
<ul class="breadcrumb">
<li><a href="{% url 'admin:index' %}">{% trans 'Home' %}</a> <span class="divider">/</span></li>
<li><a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ app_label|capfirst|escape }}</a> <span class="divider">/</span></li>
<li><a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a> <span class="divider">/</span></li>
<li>{% if add %}{% trans 'Add' %} {{ opts.verbose_name }}{% else %}{{ original|truncatewords:"18" }}{% endif %}</li>
</ul>
{% endblock %}
{% endif %}

{% block object-tools %}
<a href="?_zipreport=all_artifacts" class="btn btn-inverse"><i class="icon-arrow-down icon-white"></i>Download all artifacts</a>
<button class="btn btn-inverse" id="select-artifacts"><i class="icon-arrow-down icon-white"></i>Select artifacts to download</button>
  <div class="pull-right">
    {% block object-tools-items %}
	<a href="?_change=" class="btn btn-primary default">Edit</a>
    <a href="history/" class="btn btn-inverse historylink">{% trans "History" %}</a>
    {% if has_absolute_url %}<a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="btn viewsitelink">{% trans "View on site" %}</a>{% endif%}
    {% endblock %}
  </div>
{% endblock %}

{% block content %}<div id="content-main">

<p></p>
<div class="module">

<form>
<input type="hidden" name="_zipreport"/>

<table class="table table-striped  table-condensed table-bordered" id="table-select-artifacts">
    <thead>
    <tr>
      <th colspan="2">
          <span class="text-center"><i class="icon-arrow-down icon-white"></i> Select artifacts to download</span>
      </th>
    </tr>
  </thead>
     <tr>
         <td>
            <input type="checkbox" name="artifact[]" value="dssas">
        </td>
        <td>DSSAs</td>
    </tr>
    <tr>
         <td>
            <input type="checkbox" name="artifact[]" value="qualityscenariodocuments">
        </td>
        <td>Quality Scenario Documents</td>
    </tr>
     <tr>
        <td>
            <input type="checkbox" name="artifact[]" value="usecase"/>
        </td>
        <td>Use cases</td>
    </tr>
     <tr>
        <td>
            <input type="checkbox" name="artifact[]" value="features" >
        </td>
        <td>Features</td>
    </tr>
     <tr>
        <td>
            <input type="checkbox" name="artifact[]" value="apis">
        </td>
        <td>APIs</td>
    </tr>
    <tr>
        <td>
            <input type="checkbox" name="artifact[]" value="technologies">
        </td>
        <td>Technologies</td>
    </tr>
     <tr>
        <td>
            <input type="checkbox" name="artifact[]" value="glossaries">
        </td>
        <td>Glossaries</td>
    </tr>
    <tr>
         <td>
            <input type="checkbox" name="artifact[]" value="references">
        </td>
        <td>References</td>
    </tr>








     <tr>
        <td colspan="2">
            <button type="submit" class="btn  btn-inverse pull-right" value="Download artifacts">
                <i class="icon-arrow-down icon-white"></i> Download selected artifacts
            </button>

        </td>
    </tr>
</table>
</form>

<table class="table table-striped table-bordered">
		<td><b>Description:</b></td> <td>{{product.description}}</td>
	</tr>

	<Tr>
		<td><b>Features:</b></td>
		<td>
		<ul>
		{% recursetree product.features.all %}
        <li>
            <label for="id_{{ name }}_{{ node.pk }}">{{ node.name }}</label>
            {% if not node.is_leaf_node %}
                <ul>
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
	</ul>
		</td>
	</tr>


</ul>

</table>
</div>
{% endblock %}
