{% load admin_static bootstrapped_goodies_tags %}{% load url from future %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="{{ LANGUAGE_CODE|default:"en-us" }}" {% if LANGUAGE_BIDI %}dir="rtl"{% endif %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    {% block extrastyle %}{% endblock %}

    <!-- Le styles, placed after extrastyle to correctly override default styling -->
    <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet"/>
    <link href="{% static "bootstrap/css/bootstrap-responsive.min.css" %}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet"  href="{% static "admin/css/overrides.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static "admin/css/splarch.css" %}" />
    <link rel="icon" type="image/png" href="{% static "admin/img/favicon.png" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "admin/js/vegas/jquery.vegas.min.css" %}" />

    <!-- <link rel="stylesheet" type="text/css" href="{% block stylesheet %}{% static "admin/css/base.css" %}{% endblock %}" /> -->
    <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{% static "admin/js/jquery-1.9.1.min.js" %}"><\/script>')</script>
    <script src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>

    <script src="{% static "admin/js/vegas/jquery.vegas.min.js" %}"></script>
    {% block extrahead %}{% endblock %}

    {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    <script type="text/javascript">
        //<![CDATA[
                    (function($) {
                        $(document).ready(function() {
                            $('input[type="submit"]').addClass('btn');
                        });
                    }(jQuery));
            //]]>
    </script>
</head>
{% load i18n %}

<body class="{% if is_popup %}popup {% endif %}{% block bodyclass %}{% endblock %}">

<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="/admin">SPLarch</a>

         {% if user.is_authenticated %}
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="">
                <a href="/tour/">Tour</a>
              </li>
              <li class="">
                 <a href="/faq" target="_blank">FAQ</a>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Other options</a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/auth/">Auth</a></li>
                  <li><a href="/admin/faq/">FAQ options</a></li>
                </ul>
              </li>
            </ul>

          <ul class="nav pull-right">
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                    {% if user.is_authenticated %}
                        {% if  user.first_name|length > 0 %}
                         Welcome, {{ user.first_name }}.<b class="caret"></b>
                        {% else %}
                             Welcome, {{ user.username }}.<b class="caret"></b>
                        {% endif %}
                    {% else %}
                    {% endif %}
                    </a>
                <ul class="dropdown-menu">
                  <li><a href="/admin/auth/user/{{ user.id }}">profile</a></li>
                  <li><a href="/admin/auth/user/{{ user.id }}/password/">change password</a></li>
                  <li><a href="/admin/logout">logout</a></li>
                </ul>
              </li>
            </ul>
          </div>
         {% endif %}
        </div>
      </div>
    </div>

    <div class="container" id="breadcrumb">
        {% block breadcrumbs %}{% endblock %}
    </div>

    <!-- Container -->
    <div class="container" id="main">

        <!-- Content -->
        <div id="content" class="{% block coltype %}colM{% endblock %}">

            {% block messages %}
            {% if messages %}
            <div class="row-fluid">
                <div class="span12">
                    <div class="alert alert-info">
                        <ul class="unstyled">
                            {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            {% endif %}
            {% endblock messages %}

            {% block body %}{% endblock %}

            {% block sidebar %}{% endblock %}

        </div>
        <!-- END Content -->
    </div>
    <!-- END Container -->

<div class="footer container-fluid">
    <div class="container">
        <div class="row">
            <div class="span6">
                <div class="text-left">{% now "Y" %} SPLarch</div>
            </div>
            <div class="span6">
                <div class="text-right">
                    <ul id="links-footer">
                        <li>
                            <a href="https://github.com/cretchas/projeto_es_2015_2" target="_blank" title="Github">GitHub</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>









